USE [SimpleSteps]
GO
/****** Object:  StoredProcedure [dbo].[spCreateMeasuredValues2]    Script Date: 17.03.2026 18:45:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==================================================================
-- Author:		Marcel Butterweck
-- Create date: 2026.03.10
-- Description:	Erstellt Testdatesätze für die MeasuredData Tabelle
-- ==================================================================
CREATE OR ALTER PROCEDURE [dbo].[spCreateMeasuredValues2]
	@SensorId int,
	@DateTimeStart datetime,
	@DateTimeEnd datetime,
	@MinValue decimal(18,4),
	@MaxValue decimal(18,4)
AS
BEGIN
	SET NOCOUNT ON;

	BEGIN TRY

		Declare @CurrentDateTime datetime
		Declare @RandomValue decimal(18,4)
		Declare @NewId bigint

		-- Parameter prüfen
		IF @DateTimeStart IS NULL
			THROW 50001, 'DateTimeStart darf nicht null sein!',1
		IF @DateTimeEnd IS NULL
			THROW 50002, 'DateTimeEnd darf nicht null sein!',1

		Declare @SensorCount int
		Set @SensorCount = (Select Id from dbo.Sensor where Id = @SensorId)
		IF @SensorCount = 0
			THROW 50003, 'Sensor nicht vorhanden!',1


		Declare @RandomValue1 decimal(18,4)
		Declare @RandomValue2 decimal(18,4)
		Declare @RandomValue3 decimal(18,4)
		Declare @RandomValue4 decimal(18,4)

		Declare @RandomMinute1 int
		Declare @RandomMinute2 int
		Declare @RandomMinute3 int
		Declare @RandomMinute4 int

		Declare @RandomTime1 datetime
		Declare @RandomTime2 datetime
		Declare @RandomTime3 datetime
		Declare @RandomTime4 datetime

		Set @CurrentDateTime = @DateTimeStart
		While @CurrentDateTime <= @DateTimeEnd
		BEGIN
			Set @RandomValue1 = Round(Cast(@MinValue + (@MaxValue - @MinValue) * RAND(Checksum(NEWID())) as Decimal(18,4)),2)
			Set @RandomValue2 = Round(Cast(@MinValue + (@MaxValue - @MinValue) * RAND(Checksum(NEWID())) as Decimal(18,4)),2)
			Set @RandomValue3 = Round(Cast(@MinValue + (@MaxValue - @MinValue) * RAND(Checksum(NEWID())) as Decimal(18,4)),2)
			Set @RandomValue4 = Round(Cast(@MinValue + (@MaxValue - @MinValue) * RAND(Checksum(NEWID())) as Decimal(18,4)),2)

			Set @RandomMinute1 =Cast(0 + (1440 - 0) * RAND(Checksum(NEWID())) as int)
			Set @RandomMinute2 =Cast(0 + (1440 - 0) * RAND(Checksum(NEWID())) as int)
			Set @RandomMinute3 =Cast(0 + (1440 - 0) * RAND(Checksum(NEWID())) as int)
			Set @RandomMinute4 =Cast(0 + (1440 - 0) * RAND(Checksum(NEWID())) as int)
			
			Set @RandomTime1 = DATEADD(MINUTE,@RandomMinute1,@CurrentDateTime)
			Set @RandomTime2 = DATEADD(MINUTE,@RandomMinute2,@CurrentDateTime)
			Set @RandomTime3 = DATEADD(MINUTE,@RandomMinute3,@CurrentDateTime)
			Set @RandomTime4 = DATEADD(MINUTE,@RandomMinute4,@CurrentDateTime)

			Insert into dbo.MeasuredData(MeasuredDateTime, MeasuredValue, Unit, SensorId) 
				values (@RandomTime1, @RandomValue1, 'ml', @SensorId)
			Insert into dbo.MeasuredData(MeasuredDateTime, MeasuredValue, Unit, SensorId) 
				values (@RandomTime2, @RandomValue2, 'ml', @SensorId)
			Insert into dbo.MeasuredData(MeasuredDateTime, MeasuredValue, Unit, SensorId) 
				values (@RandomTime3, @RandomValue3, 'ml', @SensorId)
			Insert into dbo.MeasuredData(MeasuredDateTime, MeasuredValue, Unit, SensorId) 
				values (@RandomTime4, @RandomValue4, 'ml', @SensorId)

			
			Print Concat(@RandomTime1,' ',@RandomValue1)
			Print Concat(@RandomTime2,' ',@RandomValue2)
			Print Concat(@RandomTime3,' ',@RandomValue3)
			Print Concat(@RandomTime4,' ',@RandomValue4)
			Set @CurrentDateTime = DATEADD(Day,1,@CurrentDateTime)
		END
	END TRY
	BEGIN CATCH
		PRINT 'Fehler in Prozedur [dbo].[spCreateMeasuredValues] aufgetreten.'
		Print Concat('Fehlernummer: ', ERROR_Number())
		Print Concat('Fehlermeldung: ', ERROR_Message())
		Print Concat('In Zeile: ', ERROR_Line());
		THROW
	END CATCH
END
